<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>IIPA</title>
        <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon">
        
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/assets/css/bootstrap-grid.min.css" rel="stylesheet" />
        <link href="/assets/css/bootstrap-reboot.min.css" rel="stylesheet" />
        
        <link href="/assets/css/app.css" rel="stylesheet" />
        
        <script src="/assets/js/jquery.3.2.1.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/fontawsome.js"></script>
        
		<script th:inline="javascript">

		let _IIPA = {
				datas : []
		};
		
		
		
		// 로그아웃
		  function logout() {
		    	if(!confirm("종료하시겠습니까?")) return;
		    	
		        $.ajax('/logout', {
		            method: 'POST',
		            processData: false,
		            contentType: false,
		            headers: {
		                'X-XSRF-TOKEN': '[(${_csrf.token})]'
		                // 2020-10-07처음로딩 시 메모리에 올려놓은 후 js 호출 처리
		            },
		            complete: function () {
		                window.location.href = '/';
		            },
		        });
		  }
		  
		  
		  
		  
		  function getFiles() {
			  return document.querySelector('#fileInput').files;
		  }
		  
		// 엑셀 리스트 그리기
		  function getFileList() {
			  
			  let files = getFiles();
			  
			  let $fileListEl = $("#fileList");
	          $fileListEl.empty();
	          
	          let tmpl = '<ul>';
	          
	          for (let i = 0; i < files.length; i++)
	          {
	              tmpl += `<li>${files[i].name}</li>`
	          }
	          
	          tmpl += '</ul>';
	          $fileListEl.append(tmpl);
		  } 
		  
		  
		  
		  // 버튼액션
          function doBtnAction() {
			let $fileInput = $("#fileInput");
			
			// 활성화여부
			let isActive = !$fileInput.prop('disabled');
			let files = getFiles();
			
			// 버튼이 활성화 되어있으면 업로드, 아니면 초기화 
			if(isActive){
				// 업로드
				if(files.length>0){
					doExcelUploadProcess();
				}else{
					alert('파일이 없습니다.');
					return;
				}
				
			}else{
				//초기화
				doRefresh();
			}
		  }
		  
		  //버튼상태
		  function setBtnStatus(isActive){
			  let isDisabled = !isActive ;
			  let btnTxt = isActive?'분석':'초기화';
			  let clazz = isActive?'btn-success':'btn-dark';
				  
			  $("#fileInput").prop('disabled', isDisabled);
			  let $btnAction = $("#btnAction");
			  
			  $btnAction.text(btnTxt);
			  $btnAction.removeClass('btn-success');
			  $btnAction.removeClass('btn-dark');
			  $btnAction.addClass(clazz);
		  }
		  
		  // 초기화 
		  function doRefresh(){
			  $("#fileInput").val('');
			  $("#fileList").empty();
			  
			  setBtnStatus(true);
		  }
          
		
		  // 엑셀업로드
		    function doExcelUploadProcess() {
		        var f = new FormData(document.getElementById('form1'));
		        $.ajax({
		          url: "/excelReader",
		          data: f,
		          processData: false,
		          contentType: false,
		          headers: {
		            'X-XSRF-TOKEN': '[(${_csrf.token})]'
		            // 2020-10-07처음로딩 시 메모리에 올려놓은 후 js 호출 처리
		          },
		          type: "POST",
		          success: function (data) {
		        	_IIPA.datas = data.data;
		            setBtnStatus(false);
		            setDataTables();
		            
		          }
		        });
		      }
		    
		  // 검사결과 데이터 입력
		  function setDataTables(){
			  
		  
		  }
		  
		  
		</script>
        
    </head>
    <body >
    <div class="layout-full h100p">
        <header class="bg-dark">
	        <nav class="sb-topnav navbar navbar-expand navbar-dark ">
	            <!-- Navbar Brand-->
	            <a class="navbar-brand ps-3" href="/">자주 검사 전산 자동화</a>
	            <button class="btn btn-dark" id="btnLogout" type="button" onclick="logout()"><i class="fas fa-sign-out"></i>종료</button>
	        </nav>
        </header>
        <div class="row w100p" style="height: calc(100% - 60px)">
            <div class="col-md-2  bg-dark  d-flex-column">
                
                <div class="pt-3 nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                   <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">데이터입력</a>
                   <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">검사결과</a>
                   <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">결과분석</a>
                 </div>
            
            </div>
            <div class="col-md-10">
            
	              <div class="tab-content" id="v-pills-tabContent">
		              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
		                 <th:block th:replace="inc/contents::contents_1"></th:block>
		              </div>
		              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
		                  <th:block th:replace="inc/contents::contents_2"></th:block>
		              </div>
		              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
		                  <th:block th:replace="inc/contents::contents_3"></th:block>
		              </div>
	               </div>
	               
            </div>
         </div>

        <footer></footer>
    </div>
    </body>
</html>
